<navbar
  class="h-24 w-screen drop-shadow-lg shadow-slate-800 flex items-center justify-end gap-5 pr-6 border-b-2"
>
  <a href="/">Home</a>
  <a href="/staff">Staff</a>
  <a href="/events">Events</a>
</navbar>
